body {
  background-color: grey;
  margin: 0;


}

h1 {
  font-family: 'montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 6.25rem;
  margin: 0 0 0 50px;
  padding: 0;
  position: relative;
  top: 11.87rem;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
}

p {
font-family: 'montserrat', sans-serif;
text-align: center;
color: white;
font-size: 3.12rem;
margin: 0 0 0 50px;
padding: 0;
position: relative;
top: 11.87rem;
text-shadow: 0 5px 10px rgba(0,0,0,.2);
}

section {
  margin: 0;
  background-color: white;
  position: relative;
  top: 0;
  height: 800px;
  width: 200%;
  overflow: hidden;
}

.header {
  height: 37.5rem;
  background-color: #EDDE5D;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

/* .header-text-bg {
  background-color: #3A3A3A;
  height: 15.62rem;
  position: relative;
  top: 20%;
  width: 62.5rem;
} */

.background-sky {
  background-image: url("../images/sky.png");
  background-size: 100% 100%;
  height: 800px;
  width: 100%;
}

.bg-sky-color {
  background-image: linear-gradient( #EDDE5D, #EAEAEA, #E7E7E7, #D7D7D7, #dddddd);
  background-size: 100% 100%;
  height: 1000px;
  width: 100%;
}

.box {
  position: relative;
  left: 150px;
  width: 100%;
  height: 850px;
  float: left;
  margin: 5% 0;
  perspective: 1500px;
  transform: translateY(15%);
  transition: all ease 300ms;
  cursor: pointer;
}

.box-inner{
  position: relative;
  right: 200px;
  width: 93.75rem;
  height: 960px;
  transition: all 3s linear;
  transform-style: preserve-3d;
}
/* box hover to rotate style: ; */
.box:hover .box-inner{
  transform: rotateY(30deg);
}
/* box default position */
.box-inner {
  transform: rotateY(-20deg);
}
/* write your text inside box */
.box-inner > div{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 45px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
}

/* set default position for every slide */
.side-1 {
  transform: rotateY(110deg) translateZ(1060px);
}
.side-2 {
  transform: rotateY(180deg) translateZ(1060px);
}
.side-3 {
  transform: rotateY(250deg) translateZ(1060px);
}

.standing-man {
  position: absolute;
  top: 480px;
  right: 100px;
  transform: rotateY(20deg);
  transition: all 2.5s linear;
}

.box-inner:hover .standing-man {
  position: absolute;
  top: 480px;
  right: 100px;
  transform: rotateY(-20deg);
}


.standing-man2 {
  position: absolute;
  bottom: 50px;
}

.img-1 {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-bottom: 0;
  padding-top: 0;
  transform: translate(calc(50% - var(--x) * 2), -50%);
}

.img-2 {
position: absolute;
top: 50%;
width: 100%;
margin-bottom: 0;
padding-top: 0;
transform: translate(calc(-50% - var(--x) * 2), -50%);
}

.container-4th {
  font-family: 'montserrat', sans-serif;
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: white;
}

.footer-text {
  font-size: 50px;
  position: relative;
  top: 20px;
  margin: 0 60px 30px;
}

.behance-logo {
  padding-top: 40px;
  margin: 0 30px;
}

.gmail-logo {
  padding-top: 40px;
margin: 0 30px;
}

.cellphone-logo {
  padding-top: 40px;
margin: 0 30px;
}

.copyright {
  position: relative;
  top: 40px;
  text-align: center;
  margin-left: 0;
  font-size: 20px;
  color: black;
}
